#searchBar{
    margin: 1rem;
    margin-top: 1.5rem;
    position: relative;
    &>span{
        position: absolute;
        right: 2.5rem;
        top: calc(50% - 10px);
        font-weight: bolder;
        color: #bb1d12;
        cursor: pointer;
    }
    &>input{
        width:calc(100% - 5.5rem);
        padding-right: 3.5rem;
    }
}

#searchBar::after{
    content: "\01F50D";
    position: absolute;
    right: 1rem;
    top: 6px;
    color: black;
    opacity: 0.5;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: -18%;
}

li{
    margin: 0;
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: start;
    gap: 0.6rem;
}